* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: "chewy";
    src: url(../src/assets/fonts/Chewy-Regular.ttf);
}

nav {
    height: 90px;
    width: 100%;
}

.logo img {
    width: 100px;
    margin-left: 4rem;
    margin-top: 5px;
}

.nav-menu {
    height: 80px;
    text-align: center;
}

.nav-menu li {
    display: inline-block;
    line-height: 80px;
    margin: 0 3rem;
    margin-top: 1rem;
}

.nav-menu li a {
    color: #2761a3;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.carrito {
    display: flex;
    justify-content:right;
    padding-right: 3rem;
    margin-top: 10px;
}

.carrito img {
    width: 50px;
}

.carrito p {
    color: #2761a3;
    text-decoration: none;
    font-size: 20px;
}

.bienvenida {
    text-align: center;
    color: #a4c0e1;
    font-family: "chewy";
}

.item-container-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: space-evenly;
}

.item-decoration-home {
    color:#2761a3;
    font-weight:700;
    text-align: center;
    width: 400px;
    margin: 3rem;
}

.item-decoration-home p{
    margin-top: 1rem;
}

.item-decoration-home small{
    color:#a4c0e1;
    font-weight:400;
    font-size: 15px;
}

.item-decoration-home img {
    width: 300px;
    height: 300px;
    border-radius: 2rem;
    box-shadow: 0px 0px 15px 1px #a4c0e1;
}

.link-decoration {
    text-decoration: none;
}

.item-detail-container {
    text-align: center;
    margin: 3rem;
    color: #2761a3;
}

.item-detail-style h3{
    color: #a4c0e1;  
}

.item-detail-style img{
    width: 400px;
    border-radius: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 15px 1px #a4c0e1;
}

.error-img {
    display: flex;
    justify-content: center;
}

.error-img img{
    width: 1000px;
}