* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: "chewy";
    src: url(../src/assets/fonts/Chewy-Regular.ttf);
}

nav {
    height: 90px;
    width: 100%;
}

.logo img {
    width: 100px;
    margin-left: 4rem;
    margin-top: 5px;
}

.nav-menu {
    height: 80px;
    text-align: center;
}

.nav-menu li {
    display: inline-block;
    line-height: 80px;
    margin: 0 3rem;
    margin-top: 1rem;
}

.nav-menu li a {
    color: #2761a3;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.carrito {
    display: flex;
    justify-content:right;
    padding-right: 3rem;
    margin-top: 10px;
}

.carrito img {
    width: 50px;
}

.carrito p {
    color: #2761a3;
    text-decoration: none;
    font-size: 20px;
}

.bienvenida {
    text-align: center;
    color: #a4c0e1;
    font-family: "chewy";
}